abstract class ApplicationPolicy(T)
  getter <%= @user_model.underscore %>
  getter record

  # Swap out `<%= @user_model %>` for your user class, if needed!
  def initialize(@<%= @user_model.underscore %> : <%= @user_model %>?, @record : T? = nil)
  end

  def index?
    false
  end

  def show?
    false
  end

  def create?
    false
  end

  def new?
    create?
  end

  def update?
    false
  end

  def edit?
    update?
  end

  def delete?
    false
  end
end
